body {
    font-family: sans-serif;
}

/*Page "Home" style*/

.box1{
    padding: 10px;
    text-align: center;
    font-size: 25px;
    line-height: 50px;
}
/* @media screen and (max-width:800px) {
    .box1 {
      width:100%;
    }
} */

span {
    font-size: 35px;
    font-weight: 300;
    color: #FFAEAF;
    animation: mix 10s infinite;
    font-weight: bold;
}

@keyframes mix {
    0% {color: #FFAEAF;}
    25% {color: #ACE3D1;}
    50% {color: #F4EB81;}
    75%{color: #A8C9E1;}  
  }

a, a:visited, a:active {
    color:tomato;
}

h4 a {
    text-decoration: none;
}

.nav-container {
    margin: auto;
    padding-bottom: 80px;
    text-align: center;
}

/*Page "About me" style*/

.section1, .section2 {
    width: 800px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.section-box1 {
    width: 150px;    
    padding: 10px;
    border-bottom: 3px solid #A8C9E1;
    text-align: center;
}

li {
    line-height: 35px;
}

.txt {
    line-height: 25px;
}

/*Navigation style*/

.nav1, .nav2, .nav3, .nav4 {
    display: inline-block;
    width: 100px;
    margin: 50px;
    padding: 20px;
    text-align: center;
    color: #000;
    border-radius: 5%;
}
.nav1 {
    border: 5px solid #F4EB81;
}

.nav2 {
    border: 5px solid #A8C9E1;
}

.nav3 {
    border: 5px solid #ACE3D1;
}

.nav4 {
    border: 5px solid #FFAEAF;
}

.nav1:hover {
    background-color: #F4EB81;
}

.nav2:hover {
    background-color: #A8C9E1;
}

.nav3:hover {
    background-color: #ACE3D1;
}

.nav4:hover {
    background-color: #FFAEAF;
}

/* Footer style */
.footer1 {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 5px;
    background-color: #f6f6f6;
}

.footer2 {
    text-align: center;
    padding: 5px;
    background-color: #f6f6f6;
 }

  /* Pie chart Styel */

  .container {
    display: grid;
    grid-template-columns: repeat(1, 150px);
    grid-gap: 37px;
    margin: auto;
    padding-bottom: 80px;
    justify-content: center;
  }
  
  @media (min-width: 400px) {
    .container {
      grid-template-columns: repeat(2, 150px);
    }
  }
  
  @media (min-width: 600px) {
    .container {
      grid-template-columns: repeat(3, 150px);
    }
  }
  
  @media (min-width: 800px) {
    .container {
      grid-template-columns: repeat(4, 150px);
    }
  }

  @media (min-width: 1000px) {
    .container {
      grid-template-columns: repeat(5, 150px);
    }
  }

.box {
    display: inline-block;
}

.box .chart {
    width: 110px;
    margin: 0 auto;
    position: relative;
    font-size: 18px;
    line-height: 110px;
    text-align: center;
    color: #000;
}

h4 {
    text-align: center;
}

.container .box canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

/*Page "My Project" style*/

.section-box2 {
    width: 150px;    
    padding: 10px;
    border-bottom: 3px solid #ACE3D1;
    text-align: center;
}

ul li ul {
    list-style-type: none;
    padding-left: 5px;
}

.projectList {
    margin-bottom: 25px;
}

/* Page "Contact Me" Style */

.section-box3 {
    width: 100px;    
    padding: 10px;
    border-bottom: 3px solid #FFAEAF;
    text-align: center;
}