body {
    font-family: sans-serif;
}

/*Navigation style*/

.nav-container {
    margin: auto;
    padding-bottom: 80px;
    text-align: center;
}
.nav1, .nav2, .nav3, .nav4 {
    display: inline-block;
    width: 100px;
    margin: 50px;
    padding: 20px;
    text-align: center;
    color: #000;
    border-radius: 5%;
}
.nav1 {
    border: 5px solid #F4EB81;
}

.nav2 {
    border: 5px solid #A8C9E1;
}

.nav3 {
    border: 5px solid #ACE3D1;
}

.nav4 {
    border: 5px solid #FFAEAF;
}

.nav1:hover {
    background-color: #F4EB81;
}

.nav2:hover {
    background-color: #A8C9E1;
}

.nav3:hover {
    background-color: #ACE3D1;
}

.nav4:hover {
    background-color: #FFAEAF;
}

/* Footer style */
.footer1 {
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 5px;
    background-color: #f6f6f6;
}

.footer2 {
    width: 100%;
    position: relative;
    text-align: center;
    padding: 5px;
    background-color: #f6f6f6;
 }

/*Page "Home" style*/

.box1{
    padding: 10px;
    text-align: center;
    font-size: 25px;
    line-height: 50px;
}

span {
    font-size: 35px;
    font-weight: 300;
    color: #FFAEAF;
    animation: mix 10s infinite;
    font-weight: bold;
}

@keyframes mix {
    0% {color: #FFAEAF;}
    25% {color: #ACE3D1;}
    50% {color: #F4EB81;}
    75%{color: #A8C9E1;}  
  }

a, a:visited, a:active {
    color:tomato;
}

h4 a {
    text-decoration: none;
}

/*Page "About me" style*/

.section {
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.section-box1 {
    width: 150px;    
    padding: 10px;
    border-bottom: 3px solid #A8C9E1;
    text-align: center;
}

li, li p {
    line-height: 33px;
}

/*Page "My Project" style*/

.section-box2 {
    width: 130px;    
    padding: 10px;
    border-bottom: 3px solid #ACE3D1;
    text-align: center;
}

ul li ul {
    list-style-type: none;
    padding-left: 5px;
}

.project-list {
    max-width: 970px;
    margin: 0 auto;
}

.project-list div {
    width: 280px;
    border: 1px solid #ACE3D1;
    border-radius: 10px;
    overflow-wrap: break-word;
    display: inline-block;
    margin: 0 20px 20px 0;
    padding-left: 15px;
}

.project-list p {
    text-align: left;
}

/* Page "Contact Me" Style */

.section-box3 {
    width: 100px;    
    padding: 10px;
    border-bottom: 3px solid #FFAEAF;
    text-align: center;
}

  /* Pie chart Styel */

  .container {
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(5, 150px);
    grid-gap: 37px;
    margin: 0 auto;
    padding-bottom: 80px;
    justify-content: center;
  }
  
.box .chart {
    width: 100px;
    margin: 0 auto;
    position: relative;
    font-size: 18px;
    line-height: 100px;
    text-align: center;
    color: #000;
}

@media screen and (max-width: 900px) {
    .container {
      grid-template-columns: repeat(4, 130px);
    }
    .box .chart {
        width: 90px;
        font-size: 17px;
        line-height: 90px;
    }
  }

@media screen and (max-width: 850px) {
    .container {
      grid-template-columns: repeat(3, 130px);
    }
    .box .chart {
        width: 90px;
        font-size: 17px;
        line-height: 90px;
    }
  }

@media screen and (max-width: 600px) {
    .container {
        grid-template-columns: repeat(2, 120px);
    }
    .box .chart {
        width: 85px;
        font-size: 16px;
        line-height: 85px;
    }
    h4{
        font-size: 0.9em;
    }
}

.box {
    display: inline-block;
}

.container h4 {
    text-align: center;
}

.container .box canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

/* Responsive style */

@media screen and (max-width: 480px) {
    .box1 {
        font-size: 20px;
    }
    span {
        font-size: 25px;
    }
    h3 {
        font-size: 1em;
    }
    h4 {
        font-size: 0.8em;
    }
    .nav-container {
        padding-bottom: 5px;
    }
    .nav1, .nav2, .nav3, .nav4 {
        margin: 15px;
        padding: 10px;
    }
    .section {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 10px;
    }
    .container {
        grid-template-columns: repeat(2, 90px);
        padding-bottom: 40px;
      }
    .box .chart {
        width: 75px;
        font-size: 15px;
        line-height: 75px;
    }
}